@import './normalize.css';
@import '~antd/dist/antd.css';

body {
  text-align: center;
  /* background-color: #dde8fa; */
}

body,
h1,
h2 {
  color: #dedede;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}
/* 
body {
  background-image: url('./floor.svg');
  background-repeat: repeat;
} */
/* body div:nth-child(even):not(:first-child) {
  background: rgb(246, 246, 246);
} */
/* body div:nth-child(odd):not(:first-child) {
  background: red;
} */
